@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.BaseViewModel>
@using System.Collections.Generic
<!DOCTYPE html>
<html>
<head>
	<title>Macs Dickinson</title>
	<meta name="viewport" content="width=device-width">
	<link href="/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
	<link href="/stylesheets/skeleton.css" rel="stylesheet" media="screen">
	<link href="/stylesheets/styles.css" rel="stylesheet" media="screen">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="http://yandex.st/highlightjs/7.4/styles/default.min.css">
	<script src="http://yandex.st/highlightjs/7.4/highlight.min.js"></script>
	<script type="text/javascript" src="//use.typekit.net/yys5mhs.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
</head>
<body id="top">
	<header>
		<nav>
			@RenderSection("menu", true)
		</nav>
		<h1>
			<a href="/">Macs Dickinson</a>
			<span>Software and other less interesting things.</span>
		</h1>
		@RenderSection("featured", false)
	</header>
	<section class="content">
		@RenderBody()
	</section>
	<footer>
		<p><a href="#" onclick="goToByScroll('top'); return false;" class="top"><i class="fa fa-chevron-circle-up fa-5x"></i></a></p>
		<p>&copy; 2013 - Powered by <a href="https://github.com/Sandra/Sandra.Snow" rel="generator">Sandra.Snow</a></p>
	</footer>
	
	<script src="http://code.jquery.com/jquery-1.9.0.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
	<script>
		$(function () {
			$(".post:even").addClass('bg-1');
			$(".post:odd").addClass('bg-2');
		});
        function goToByScroll(id) {
            $('html,body').animate({scrollTop: $("#"+id).offset().top},'slow');
        }
    </script>
      <!-- <footer>
        
      </footer> -->
  </body>
</html>