@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.BaseViewModel>
@using System.Collections.Generic
<!DOCTYPE html>
<html>
<head>
	<title>Macs Dickinson</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/stylesheets/bootstrap.css" rel="stylesheet" media="screen">
	<link href="/stylesheets/skeleton.css" rel="stylesheet" media="screen">
	<link href="/stylesheets/styles.css" rel="stylesheet" media="screen">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet">
	
	<script type="text/javascript" src="//use.typekit.net/yys5mhs.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body id="top">
	<header>
		<nav>
			@RenderSection("menu", true)
		</nav>
		<div class="container_12">
			<div class="row">
				<div class="grid_12">
					<h1>
						<a href="/">Macs Dickinson</a>
						<span>Software and other less interesting things.</span>
					</h1>
					@RenderSection("featured", false)
				</div>
			</div>
		</div>
	</header>
	<section class="content v1">
		@RenderBody()
	</section>
	<footer>
		<div class="container_12">
			<div class="row">
				<div class="grid_12">
					<a href="#" onclick="goToByScroll('top'); return false;" class="top"><img src="/images/totop.png" alt=""></a>
				</div>
			</div>
			<p>&copy; 2013 - Powered by <a href="https://github.com/Sandra/Sandra.Snow" rel="generator">Sandra.Snow</a></p>
		</div>
	</footer>
	
	<script src="http://code.jquery.com/jquery-1.9.0.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
	<script>
		$(function () {
			$(".post:even").addClass('bg-1');
			$(".post:odd").addClass('bg-2');
		});
        function goToByScroll(id) {
            $('html,body').animate({scrollTop: $("#"+id).offset().top},'slow');
        }
    </script>
      <!-- <footer>
        
      </footer> -->
  </body>
</html>