@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.BaseViewModel>
@using System.Collections.Generic
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	@if (IsSectionDefined("meta")) { 
    	@RenderSection("meta")
	}
	else {
		<!-- Place this data between the <head> tags of your website -->
		<title>Macs Dickinson</title>
	    <meta name="description" content="Macs Dickinson. Welsh .Net developer on software and the open web" />
		<!-- Google Authorship and Publisher Markup -->
	 	<link rel="author" href="https://plus.google.com/u/0/+MacsDickinson/posts"/>
		<link rel="publisher" href="https://plus.google.com/u/0/+MacsDickinson"/>

		<!-- Schema.org markup for Google+ -->
	 	<meta itemprop="name" content="Macs Dickinson">
		<meta itemprop="description" content="Macs Dickinson. Welsh .Net developer on software and the open web">
		<meta itemprop="image" content="http://www.gravatar.com/avatar/a1c8863544a1277fb119f2ffdb5e0d4e.png">

		<!-- Twitter Card data -->
	 	<meta name="twitter:card" content="http://www.gravatar.com/avatar/a1c8863544a1277fb119f2ffdb5e0d4e.png">
		<meta name="twitter:site" content="&#64;MacsDickinson">
		<meta name="twitter:title" content="Macs Dickinson">
		<meta name="twitter:description" content="Macs Dickinson. Welsh .Net developer on software and the open web">
		<meta name="twitter:creator" content="&#64;MacsDickinson">
		<!-- Twitter summary card with large image must be at least 280x150px -->
	 	<meta name="twitter:image:src" content="https://pbs.twimg.com/profile_banners/183268831/1354181451/web">
		<!-- Open Graph data -->
		<meta property="og:title" content="Macs Dickinson" />
		<meta property="og:type" content="article" />
		<meta property="og:image" content="http://www.gravatar.com/avatar/a1c8863544a1277fb119f2ffdb5e0d4e.png" />
		<meta property="og:description" content="Macs Dickinson. Welsh .Net developer on software and the open web" />
		<meta property="og:site_name" content="Macs Dickinson" />
	@* 	<meta property="article:section" content="Article Section" />
		<meta property="article:tag" content="Article Tag" /> *@
		@* <meta property="fb:admins" content="Facebook numberic ID" /> *@
	}
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="/stylesheets/obsidian.css" rel="stylesheet" >
	<link href="/stylesheets/styles.css" rel="stylesheet" media="screen">
	<link rel="author" href="https://plus.google.com/u/0/+MacsDickinson/">
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.4/highlight.min.js"></script>
	<script type="text/javascript" src="//use.typekit.net/yys5mhs.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script type="text/javascript">
		hljs.initHighlightingOnLoad();
	</script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52c82b2952baabb4"></script>
		
</head>
<body>
	<header id="top">
		<nav class="navbar" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			@RenderSection("menu", true)
		</nav>
		<h1>
			<a href="/">Macs Dickinson</a>
			<span>Software and other less interesting things.</span>
			<span>
				<a href="https://github.com/MacsDickinson" target="_blank">
					<i class="fa fa-github-square fa-4x"></i>
				</a>
				<a class="addthis_button_twitter_follow" addthis:userid="MacsDickinson">
					<i class="fa fa-twitter-square fa-4x"></i>
				</a>
				<a class="addthis_button_facebook_follow at300b" addthis:userid="MacsDickinson" href="http://www.facebook.com/MacsDickinson" target="_blank" title="Follow on Facebook">
					<i class="fa fa-facebook-square fa-4x"></i>
				</a>
				<a class="addthis_button_linkedin_follow at300b" addthis:userid="macsdickinson" href="http://www.linkedin.com/in/macsdickinson" target="_blank" title="Follow on LinkedIn">
					<i class="fa fa-linkedin-square fa-4x"></i>
				</a>
				<a href="/feed.xml">
					<i class="fa fa-rss-square fa-4x"></i>
				</a>
			</span>
		</h1>
		@RenderSection("featured", false)
	</header>
	<section class="content">
		@RenderBody()
	</section>
	<footer>
		<a href="#" onclick="goToByScroll('top'); return false;" class="top"><i class="fa fa-chevron-circle-up fa-5x"></i></a>
		<p>&copy; 2013 - Macs Dickinson</p>
		<p>Powered by <a href="https://github.com/Sandra/Sandra.Snow" rel="generator">Sandra.Snow</a></p>
	</footer>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.0.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script>
		$(function () {
			$(".post:even").addClass('bg-1');
			$(".post:odd").addClass('bg-2');
			$(".postcontent a").attr('target', '_blank');
		});
        function goToByScroll(id) {
            $('html,body').animate({scrollTop: $("#"+id).offset().top},'slow');
        }
    </script>
    <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-37377076-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </body>
</html>
