@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}

@section menu {	
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav sf-menu">
      <li><a href="/">Blog</a></li>
      <!--<li><a href="/projects">Projects</a></li>-->
      <li><a href="/categories">Categories</a></li>
      <li class="current"><a href="/archive">Archive</a></li>          
    </ul>
  </div>
}



@foreach(var year in Model.PostsGroupedByYearThenMonth)
{
  <div class="post">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 archive">
        <h1>@year.Key</h1>
        @foreach(var month in year.Value)
        {
          @foreach(var post in month.Value)
          {
            <h2><a href="@post.Url">@post.Title</a>
            <span>@post.Date.ToString("dd MMM yyyy")</span></h2>
          }
        }
      </div>
    </div>
  </div>
}