@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}

@section menu {	
	<ul class="sf-menu">
		<li><a href="/">Home</a></li>
		<li><a href="/projects">Projects</a></li>
		<li class="current"><a href="/categories">Categories</a></li>
		<li><a href="/archive">Archive</a></li>          
	</ul>
}

<h1>Categories</h1>

  
<ul class="category-list">
  @foreach(var category in Model.Categories){
    <li><a href="/category/@category.Url" title="@category.Name">@category.Name</a></li>
  }
</ul>

