@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}


@section menu {	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav sf-menu">
			<li><a href="/">Blog</a></li>
			<!--<li><a href="/projects">Projects</a></li>-->
			<li><a href="/categories">Categories</a></li>
			<li><a href="/archive">Archive</a></li>          
		</ul>
	</div>
}

<div class="post">
	<div class="row">
  		<div class="col-sm-6 col-sm-offset-3 categories">
				<h1>Drafts</h1>
			  	@foreach(var draft in Model.Drafts){
					<h2><a href="@draft.Url" title="@draft.Title">@draft.Title</a></h2>
				}
		</div>
	</div>
</div>
