@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}
@section menu {
	<ul class="sf-menu">
		<li><a href="/">Blog</a></li>
		<li class="current"><a href="/projects">Projects</a></li>
		<li><a href="/categories">Categories</a></li>
		<li><a href="/archive">Archive</a></li>
	</ul>
}
 
<div class="bg-1 pad-bot">
	<div class="container_12">
		<div class="row">
			<div class="grid_12">
				<h2>Return to Aljustrel</h2>
				<div class="post-work-image">
					<a href="http://www.returntoaljustrel.co.uk">
					<img class="alignright size-medium wp-image-39" title="ReturnToAljustrel" src="http://www.macsentom.co.uk/wp-content/uploads/2013/03/Aljustrel-Tumb.jpg" alt="Return to Aljustrel" width="300" height="282"/>
					</a>
				</div>
				<div class="post-work-description">
					<p>
						<a href="http://www.returntoaljustrel.co.uk" target="_blank">ReturnToAljustrel.co.uk</a> is a website I put together for this Yorkshire based band. It uses Orchard CMS to enable them to edit their content and upload any reviews or interviews they've had. The brief for this site was simple; a central hub giving fans, promoters and record labels everything they need to know about the band and a clean design to represent the music and artwork.
					<p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-2 pad-bot">
	<div class="container_12">
		<div class="row">
			<div class="grid_12">
				<h2>Then Comes Marriage</h2>
				<div class="post-work-image">
					<a href="http://www.thencomesmarriage.co.uk"><img class="alignright size-medium wp-image-45" title="Then Comes Marriage" src="http://www.macsentom.co.uk/wp-content/uploads/2013/03/ThenComesMarriage-Tumb-300x282.jpg" alt="www.ThenComesMarriage.co.uk" width="300" height="282"/></a>
				</div>
				<div class="post-work-description">
					<a href="http://www.thencomesmarriage.co.uk" target="_blank">ThenComesMarriage.co.uk</a> is a website that I wrote to accompany my wedding. It acted as a hub of information about the wedding giving guests directions to the venue, a list of local hotels, information about gifts and the honeymoon and an online RSVP form. It also gave myself and my wife a set of admin tools to manage who had returned their RSVP and who had requested access to the site. The website is written using ASP.NET web forms.
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-1 pad-bot">
	<div class="container_12">
		<div class="row">
			<div class="grid_12">
				<h2>JQuery.Autocomplete.js</h2>
				<div class="post-work-image">
					<a href="https://github.com/MacsDickinson/jquery.autocomplete"><img class="alignright size-medium wp-image-55" title="jquery.autocomplete" src="http://www.macsentom.co.uk/wp-content/uploads/2013/03/jquery.autocomplete-300x282.jpg" alt="jquery.autocomplete on GitHub" width="300" height="282"/></a>
				</div>
				<div class="post-work-description">
					 A simple, lightweight JQuery plugin to easily convert any unordered list or select element into an autocomplete textbox. Styling on the resulting autocomplete input is intentionally bare as options are available to set the classes on the elements generated enabling you to style it like your site. Attach this plug-in to your elements with this snippet:
					<pre>
						<code>
							 $(function() { $('select').autocomplete(); });
						</code>
					</pre>
					 Check out the full tutorial on <a href="https://github.com/MacsDickinson/jquery.autocomplete" target="_blank">GitHub</a>.
				</div>
			</div>
		</div>
	</div>
</div>