{
  "author": "Macs Dickinson",
  "email": "macs.dickinson@live.co.uk",
  "siteUrl": "http://www.macsdickinson.com/",
  "posts": "_posts",
  "layouts": "_layouts",
  "output": "../../wwwroot",
  "urlFormat": "{category}/slug",
  "directoryname": "",
  "blogTitle": "Macs Dickinson",
  "copyDirectories": [
    "images",
    "javascripts",
    "stylesheets",
    "fonts"
  ],
  "processFiles": [{
    "file": "index.cshtml",
    "loop": "Posts"
  },{
    "file": "category.cshtml",
    "loop": "Categories"
  },{
    "file": "categories.cshtml"
  },{
    "file": "archive.cshtml"
  },{
    "file": "projects.cshtml"
  },{
    "file": "drafts.cshtml",
    "loop": "Drafts"
  },{
    "file": "feed.xml",
    "loop": "RSS"
  },{
    "file": "web.config",
    "loop": "content"
  },{
    "file": "6697F4C2E637C13C274284EFE17A9DD8.txt",
    "loop": "content"
  },{
    "file": "sitemap.xml",
    "loop": "sitemap"
  }]
}