<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect macsentom to macsdickinson" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www.macsentom.co.uk$" />
                    </conditions>
                    <action type="Redirect" url="http://www.macsdickinson.com/{R:0}" redirectType="Permanent" />
                </rule>
                <rule name="Redirect macsblog to macsdickinson" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^macsblog.azurewebsites.net$" />
                    </conditions>
                    <action type="Redirect" url="http://www.macsdickinson.com/{R:0}" redirectType="Permanent" />
                </rule>              
            </rules>
        </rewrite>
    </system.webServer>
</configuration>